#!/bin/vbash
source /opt/vyatta/etc/functions/script-template
configure
set service dhcp-server
set service dhcp-server global-parameters "local-address 10.0.5.2;"
set service dhcp-server shared-network-name BLUE15 authoritative
set service dhcp-server shared-network-name BLUE15 subnet "10.0.5.0/24" default-router "10.0.5.2"
set service dhcp-server shared-network-name BLUE15 subnet "10.0.5.0/24" dns-server "10.0.5.5"
set service dhcp-server shared-network-name BLUE15 subnet "10.0.5.0/24" domain-name "blue15.local"
set service dhcp-server shared-network-name BLUE15 subnet "10.0.5.0/24" lease "86400"
set service dhcp-server shared-network-name BLUE15 subnet "10.0.5.0/24" range "BLUE15-POOL" start "10.0.5.75"
set service dhcp-server shared-network-name BLUE15 subnet "10.0.5.0/24" range "BLUE15-POOL" stop "10.0.5.125"
commit
save